.adslide {
  display: inline-block;
  width: 100%;
  max-width: inherit;
  min-width: inherit;
  height: inherit;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .adslide-wrap {
    height: inherit;
    width: 900%;
    display: flex;
    justify-content: center;
    // display: none;
    .adslide-cont {
      margin: 0 auto;
      width: 420px;
      height: 260px;
      border-radius: 10px;
      overflow: hidden;
      margin: 0 10px;
      &:first-child {
        margin-left: 20px;
      }
      img {
        width: inherit;
        height: inherit;
      }
    }
  }
}
