#container {
  width: 100%;
  max-width: 480px;
  min-width: 360px;
}
#container #header {
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  max-width: inherit;
  min-width: inherit;
  z-index: 100;
  transition: 0.5s;
}
#container #header .header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
}
#container #header .header-top .header-top-img {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url(./contents/header/logo.png) center center no-repeat;
  background-size: cover;
}
#container #header .header-top .input-magnify {
  display: inline-block;
  width: 70%;
  height: 36px;
  position: relative;
}
#container #header .header-top .input-magnify img {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
#container #header .header-top .input-magnify .header-top-input-mag {
  width: 100%;
  height: inherit;
  border: none;
  border-radius: 19px;
  background: #f1f1f1;
  padding-left: 40px;
}
#container #header .header-top .input-magnify .header-top-input-mag:focus {
  outline: none;
}
#container #header .header-top .header-top-icos {
  display: flex;
  gap: 10px;
}
#container #header .header-top .header-top-icos .header-top-ico {
  display: inline-block;
  width: 30px;
  height: 30px;
}
#container #header .header-top .header-top-icos .header-top-ico.picked {
  background: url(./contents/header/header-mark.svg) no-repeat center center;
  background-size: cover;
}
#container #header .header-top .header-top-icos .header-top-ico.bell {
  background: url(./contents/header/icon_notice_line_reguler_nor.png) no-repeat center center;
  background-size: cover;
}
#container .adslide {
  display: inline-block;
  width: 100%;
  max-width: inherit;
  min-width: inherit;
  height: inherit;
  overflow-x: scroll;
}
#container .adslide::-webkit-scrollbar {
  display: none;
}
#container .adslide .adslide-wrap {
  height: inherit;
  width: 900%;
  display: flex;
  justify-content: center;
}
#container .adslide .adslide-wrap .adslide-cont {
  margin: 0 auto;
  width: 420px;
  height: 260px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 10px;
}
#container .adslide .adslide-wrap .adslide-cont:first-child {
  margin-left: 20px;
}
#container .adslide .adslide-wrap .adslide-cont img {
  width: inherit;
  height: inherit;
}
#container .category {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0px;
}
#container .category .category-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin-top: 25px;
}
#container .category .category-wrap .category-img {
  cursor: pointer;
}
#container .category .category-wrap .category-img img {
  width: 48px;
  height: 48px;
}
#container .category .category-wrap .category-des {
  margin-top: 7px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  word-break: keep-all;
}
#container .where-to-go {
  padding: 20px;
}
#container .where-to-go .where-to-do-cont-wrap {
  overflow-x: scroll;
}
#container .where-to-go .where-to-do-cont-wrap::-webkit-scrollbar {
  display: none;
}
#container .where-to-go .where-to-do-cont-wrap .where-to-go-cont {
  margin-top: 20px;
  width: 1050px;
}
#container .where-to-go .where-to-do-cont-wrap .where-to-go-cont .where-to-go-img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  position: relative;
}
#container .where-to-go .where-to-do-cont-wrap .where-to-go-cont .where-to-go-img .where-to-go-des {
  z-index: 10;
  display: block;
  width: 50px;
  word-break: keep-all;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  text-align: center;
}
#container .where-to-go .where-to-do-cont-wrap .where-to-go-cont .where-to-go-img img {
  cursor: pointer;
  width: inherit;
  height: inherit;
  background-size: cover;
}
#container .where-to-go .where-to-do-cont-wrap .where-to-go-cont .where-to-go-img img.where-to-go-locationimg {
  filter: brightness(60%);
}
#container .benefit .benefit-header {
  position: relative;
}
#container .benefit .contslide .slide-cont-wrap .slide-cont .slide-img {
  position: relative;
}
#container .benefit .contslide .slide-cont-wrap .slide-cont .slide-img .benefit-part {
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  padding: 8px 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  background: rgba(255, 61, 0, 0.85);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
#container .benefit .contslide {
  margin-top: 20px;
  overflow-x: scroll;
}
#container .benefit .contslide::-webkit-scrollbar {
  display: none;
}
#container .benefit .contslide .slide-cont-wrap {
  width: 2160px;
}
#container .benefit .contslide .slide-cont-wrap.theme-wrap {
  width: 3210px;
  border: 1px solid #000;
}
#container .benefit .contslide .slide-cont-wrap.benefit-wrap {
  width: 2310px;
}
#container .benefit .contslide .slide-cont-wrap .slide-cont {
  display: inline-block;
  padding-right: 20px;
}
#container .benefit .contslide .slide-cont-wrap .slide-cont .slide-img {
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}
#container .benefit .contslide .slide-cont-wrap .slide-cont .slide-img img {
  cursor: pointer;
  width: 200px;
  height: 200px;
  background-size: cover;
}
#container .benefit .contslide .slide-cont-wrap .slide-cont .slide-des {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin-top: 5px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
#container .benefit .contslide .slide-cont-wrap .slide-cont .slide-des .slide-stardes {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #666;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding-left: 20px;
}
#container .benefit .contslide .slide-cont-wrap .slide-cont .slide-des .slide-stardes b {
  font-size: 14px;
  color: #000;
  margin-right: 10px;
}
#container .benefit .contslide .slide-cont-wrap .slide-cont .slide-des .slide-stardes::before {
  position: absolute;
  content: "";
  display: inline-block;
  background: url(./contents/benefit/star-yellow.svg) no-repeat;
  width: 16px;
  height: 16px;
  background-size: cover;
  margin-right: 5px;
  left: 0;
}
#container .benefit .contslide .slide-cont-wrap .slide-cont .slide-des .slide-bookmark {
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url(./contents/benefit/bookmark.svg) no-repeat;
  width: 30px;
  height: 30px;
}
#container .pricebest .price-tit {
  margin-bottom: 30px;
}
#container .pricebest .price-select-wrap {
  width: 100%;
  height: auto;
}
#container .pricebest .price-select-wrap .price-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  height: 65px;
  padding: 0 20px;
  margin-bottom: 15px;
}
#container .pricebest .price-select-wrap .price-list .price-imgwrap {
  width: 64px;
  height: 64px;
}
#container .pricebest .price-select-wrap .price-list .price-imgwrap img {
  width: 64px;
  height: 64px;
  border-radius: 5px;
}
#container .pricebest .price-select-wrap .price-list .price-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#container .pricebest .price-select-wrap .price-list .price-info .price-tit {
  font-size: 15px;
  margin-bottom: 0;
  font-weight: bold;
}
#container .pricebest .price-select-wrap .price-list .price-info .price-des {
  font-size: 12px;
  color: #999;
}
#container .pricebest .price-select-wrap .price-list .price-info .price-starwrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
#container .pricebest .price-select-wrap .price-list .price-info .price-starwrap img {
  width: 16px;
  height: 16px;
}
#container .pricebest .price-select-wrap .price-list .price-info .price-starwrap .price-rate {
  font-size: 12px;
  font-weight: bold;
}
#container .pricebest .price-select-wrap .price-list .price-info .price-starwrap .price-review {
  font-size: 12px;
  color: #999;
}
#container .pricebest .view-more {
  cursor: pointer;
  padding: 15px 20px;
  border: 1px solid #000;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  margin-top: 20px;
}
#container .pricebest .view-more::after {
  content: "";
  display: inline-block;
  background: url(./contents/arrow-right-g.svg);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  margin-left: 10px;
  transform: translateY(-50%);
}
#container .contslide {
  margin-top: 20px;
  overflow-x: scroll;
}
#container .contslide::-webkit-scrollbar {
  display: none;
}
#container .contslide .slide-cont-wrap {
  width: 2450px;
}
#container .contslide .slide-cont-wrap .slide-cont {
  display: inline-block;
  margin-right: 10px;
}
#container .contslide .slide-cont-wrap .slide-cont .slide-img {
  display: inline-block;
  width: 152px;
  height: 152px;
  overflow: hidden;
  border-radius: 10px;
}
#container .contslide .slide-cont-wrap .slide-cont .slide-img img {
  cursor: pointer;
  width: inherit;
  height: inherit;
  background-size: cover;
}
#container .contslide .slide-cont-wrap .slide-cont .slide-des {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin-top: 5px;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
#container .contslide .slide-cont-wrap .slide-cont .slide-des .slide-stardes {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #666;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding-left: 20px;
}
#container .contslide .slide-cont-wrap .slide-cont .slide-des .slide-stardes b {
  font-size: 14px;
  color: #000;
}
#container .contslide .slide-cont-wrap .slide-cont .slide-des .slide-stardes::before {
  position: absolute;
  content: "";
  display: inline-block;
  background: url(./contents/benefit/star-yellow.svg) no-repeat;
  width: 16px;
  height: 16px;
  background-size: cover;
  margin-right: 5px;
  left: 0;
}
#container .contslide .slide-cont-wrap .slide-cont .slide-des .slide-bookmark {
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url(./contents/benefit/bookmark.svg) no-repeat;
  width: 30px;
  height: 30px;
}
#container .footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #f1f1f1;
  color: #666;
  padding: 40px 20px;
  padding-bottom: 100px;
}
#container .footer .company-name {
  color: #666;
  font-weight: 500;
  font-size: 12px;
}
#container .footer .footer-des {
  font-size: 11px;
}
#container .footer .footer-des b {
  color: #222;
  font-weight: 600;
}
#container .footer .footer-lastdes {
  font-size: 11px;
  font-weight: 500;
  color: #222;
  margin-top: 10px;
}/*# sourceMappingURL=Container.css.map */