.contslide {
  margin-top: 20px;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .slide-cont-wrap {
    width: 2450px;
    .slide-cont {
      display: inline-block;
      margin-right: 10px;
      .slide-img {
        display: inline-block;
        width: 152px;
        height: 152px;
        overflow: hidden;
        border-radius: 10px;
        img {
          cursor: pointer;
          width: inherit;
          height: inherit;
          background-size: cover;
        }
      }
      .slide-des {
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        margin-top: 5px;
        width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        .slide-stardes {
          display: block;
          font-size: 12px;
          font-weight: 500;
          line-height: 16px;
          color: #666;
          text-overflow: ellipsis;
          white-space: nowrap;
          position: relative;
          padding-left: 20px;
          b {
            font-size: 14px;
            color: #000;
          }
          &::before {
            position: absolute;
            content: "";
            display: inline-block;
            background: url(./contents/benefit/star-yellow.svg) no-repeat;
            width: 16px;
            height: 16px;
            background-size: cover;
            margin-right: 5px;
            left: 0;
          }
        }
        .slide-bookmark {
          position: absolute;
          display: inline-block;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background: url(./contents/benefit/bookmark.svg) no-repeat;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
